@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply rounded-lg bg-[#99B47B] text-center text-white shadow-lg duration-200 hover:bg-[#99b47bc8] active:bg-[#9cb482];
  }
  .buttonNo {
    @apply rounded-lg bg-[#E1A5BB] text-center text-white shadow-lg duration-200 hover:bg-[#F0E2E2] active:bg-[#D5C5C5];
  }
  .headingColor {
    @apply text-[#4C4E64];
  }
  .shader {
    @apply fixed top-0 left-0 right-0 z-50 h-full w-full bg-slate-300 bg-opacity-10 backdrop-blur-[2px] duration-100;
  }
  .popup { 
    @apply fixed top-1/2 left-1/2 mx-auto w-[80%] -translate-x-1/2 -translate-y-1/2 
    rounded-lg bg-white p-6 text-center shadow-md duration-100
  }
  .backButton{
    @apply w-[30px] aspect-square my-auto  text-slate-300 shadow-lg rounded-lg;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
